<div class="panel panel-default">
  <div class="panel-body">
    <%= render "shared/flashes" if flash[:success].present? || flash[:notice].present? %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: "form"}) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div id="devise-form-actions">
        <%= f.submit "Entrar", class: "btn btn-primary hidden-xs" %>
        <%= f.submit "Entrar", class: "btn btn-primary btn-block visible-xs" %>

        <span class="hidden-xs">&nbsp;</span>

        <div class="visible-xs-block">&nbsp;</div>

        <%= link_to "Cadastre-se. É gratuito!", new_registration_path(resource_name), class: "btn btn-success hidden-xs" %>
        <%= link_to "Cadastre-se. É gratuito!", new_registration_path(resource_name), class: "btn btn-success btn-block visible-xs" %>

        <div class="visible-xs-block">&nbsp;</div>

        <%= link_to "Esqueceu a senha?", new_password_path(resource_name), class: "btn btn-default pull-right hidden-xs" %>
        <%= link_to "Esqueceu a senha?", new_password_path(resource_name), class: "btn btn-default btn-block visible-xs" %>
      </div>
    <% end %>
  </div>
</div>
