<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name=viewport content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Sistema Para Pesquisa De Satisfação Online. Plano gratuito!"/>
    <meta name="author" content="Mário Marroquim"/>

    <title>Satisfação 360</title>

    <%= favicon_link_tag "favicon.ico", :rel => "shortcut icon" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>

    <link href="http://getbootstrap.com.br/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="devise">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
          <div class="text-center">
            <p>
              <%= link_to image_tag("logo-devise.png"), new_session_path(resource_name) %>
            </p>

            <p style="margin-top: 20px; margin-bottom: 26px;">
              <span class="text-bold">Sistema para pesquisa de satisfação online.</span>
              <br/>
              <span class="text-muted">
                Tenha uma visão 360 graus da satisfação dos seus clientes e melhore seu negócio.
                <br/>
                Puplique seu questionário online e acompanhe as respostas em tempo real.
              </span>
            </p>
          </div>

          <%= yield %>

          <%= render partial: "shared/copyright" %>
        </div>
      </div>
    </div>

    <script src="http://getbootstrap.com.br/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
